<table class="table table-bordered table-striped table-hover acenter" id="datatable_league">
  <thead>
  <tr>
    <th>URL</th>
    <th>Short URL</th>
  </tr>
  </thead>
  <tbody>
  <% shortened_urls.each do |shortened_url| %>
      <tr>
        <td><%= shortened_url.original_url %></td>
        <td><a href="/<%= shortened_url.short_url %>" target="_blank"><%= shortened_url.short_url %></a></td>
      </tr>
  <% end %>
  </tbody>
</table>